<center>
    <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/Logos/organization_logo/organization_logo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Working with a real world data-set using SQL and Python

Estaimted time needed: **30** minutes

## Objectives

After complting this lab you will be able to:

*   Understand the dataset for Chicago Public School level performance
*   Store the dataset in an Db2 database on IBM Cloud instance
*   Retrieve metadata about tables and columns and query data from mixed case columns
*   Solve example problems to practice your SQL skills including using built-in database functions

## Chicago Public Schools - Progress Report Cards (2011-2012)

The city of Chicago released a dataset showing all school level performance data used to create School Report Cards for the 2011-2012 school year. The dataset is available from the Chicago Data Portal: [https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t](https://data.cityofchicago.org/Education/Chicago-Public-Schools-Progress-Report-Cards-2011-/9xs2-f89t?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

This dataset includes a large number of metrics. Start by familiarizing yourself with the types of metrics in the database: [https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?download=true](https://data.cityofchicago.org/api/assets/AAD41A13-BE8A-4E67-B1F5-86E711E09D5F?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01&download=true&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork-20127838&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ)

**NOTE**:

Do not download the dataset directly from City of Chicago portal. Instead download a static copy which is a more database friendly version from this <a href="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/data/ChicagoPublicSchools.csv?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01">link</a>.

Now review some of its contents.

### Store the dataset in a Table

In many cases the dataset to be analyzed is available as a .CSV (comma separated values) file, perhaps on the internet. To analyze the data using SQL, it first needs to be stored in the database.

While it is easier to read the dataset into a Pandas dataframe and then PERSIST it into the database as we saw in the previous lab, it results in mapping to default datatypes which may not be optimal for SQL querying. For example a long textual field may map to a CLOB instead of a VARCHAR.

Therefore, **it is highly recommended to manually load the table using the database console LOAD tool, as indicated in Week 2 Lab 1 Part II**. The only difference with that lab is that in Step 5 of the instructions you will need to click on create "(+) New Table" and specify the name of the table you want to create and then click "Next".

##### Now open the Db2 console, open the LOAD tool, Select / Drag the .CSV file for the CHICAGO PUBLIC SCHOOLS dataset and load the dataset into a new table called **SCHOOLS**.

<a href="https://cognitiveclass.ai/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01"><img src = "https://ibm.box.com/shared/static/uc4xjh1uxcc78ks1i18v668simioz4es.jpg"></a>

### Connect to the database

Let us now load the ipython-sql  extension and establish a connection with the database

The following modules are pre-installed in the Skills Network Labs environment. However if you run this notebook commands in a different Jupyter environment (e.g. Watson Studio or Ananconda) you may need to install these libraries by removing the `#` sign before `!pip` in the code cell below.

In [39]:
# These libraries are pre-installed in SN Labs. If running in another environment please uncomment lines below to install them:
#!pip install --force-reinstall ibm_db==3.1.0 ibm_db_sa==0.3.3
# Ensure we don't load_ext with sqlalchemy>=1.4 (incompadible)
#!pip uninstall sqlalchemy==1.4 -y && pip install sqlalchemy==1.3.24
#!pip install ipython-sql
!pip install ibm_db_sa

Requirement already satisfied: ibm_db_sa in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (0.3.3)
Requirement already satisfied: sqlalchemy>=0.7.3 in /home/jupyterlab/conda/envs/python/lib/python3.7/site-packages (from ibm_db_sa) (1.3.24)

In [2]:
%load_ext sql

In [19]:
# Enter the connection string for your Db2 on Cloud database instance below
# %sql ibm_db_sa://my-username:my-password@my-hostname:my-port/my-db-name?security=SSL
import ibm_db_sa
%sql ibm_db_sa://qzg02488:QJQJlff7pizm2No9@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb?security=SSL

### Query the database system catalog to retrieve table metadata

##### You can verify that the table creation was successful by retrieving the list of all tables in your schema and checking whether the SCHOOLS table was created

In [7]:
# type in your query to retrieve list of all tables in the database for your db2 schema (username)
#%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='qzg02488'

#%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
     
%sql SELECT * from SYSCAT.TABLES where TABNAME = 'SCHOOLS'

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

[('QZG02488', 'SCHOOLS', 'QZG02488', 'U', 'T', 'N', None, None, None, None, datetime.datetime(2022, 3, 8, 20, 19, 55, 450041), datetime.datetime(2022, 3, 8, 20, 19, 55, 450041), datetime.datetime(2022, 3, 8, 20, 19, 55, 450041), datetime.datetime(2022, 3, 8, 20, 22, 26, 270875), 79, 12, 4592, 566, 15, 0, 16, -1, -1, -1, 0, 'QZG02488SPACE1', None, None, 0, 0, 0, 0, 0, 0, 0, 'N', 'YYYYYYYYYYYYYYYYYYYYYYYYYYYYYYYY', 1, ' ', '0', -1, 'N', ' ', None, 'R', ' ', 'N', '                                ', None, 'N', ' ', 'F', None, 0, 'N', 999, 0, 0.0, 831, 0.0, None, 1208, 'SYSIBM', 'IDENTITY', 'SYSIBM', 'IDENTITY', ' ', 0, datetime.datetime(2022, 3, 8, 20, 19, 55, 450041), 0, ' ', None, None, 'N', 'QZG02488', ' ', ' ', ' ', datetime.date(2022, 3, 8), ' ', 'N', 'R', 'N', -1.0, None)]

Double-click **here** for a hint

<!--
In Db2 the system catalog table called SYSCAT.TABLES contains the table metadata
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES where TABSCHEMA='YOUR-DB2-USERNAME'

or, you can retrieve list of all tables where the schema name is not one of the system created ones:

%sql select TABSCHEMA, TABNAME, CREATE_TIME from SYSCAT.TABLES \
      where TABSCHEMA not in ('SYSIBM', 'SYSCAT', 'SYSSTAT', 'SYSIBMADM', 'SYSTOOLS', 'SYSPUBLIC')
      
or, just query for a specifc table that you want to verify exists in the database
%sql select * from SYSCAT.TABLES where TABNAME = 'SCHOOLS'

-->

### Query the database system catalog to retrieve column metadata

##### The SCHOOLS table contains a large number of columns. How many columns does this table have?

In [8]:
# type in your query to retrieve the number of columns in the SCHOOLS table
%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

[(79,)]

Double-click **here** for a hint

<!--
In Db2 the system catalog table called SYSCAT.COLUMNS contains the column metadata
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select count(*) from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

-->

Now retrieve the the list of columns in SCHOOLS table and their column type (datatype) and length.

In [9]:
# type in your query to retrieve all column names in the SCHOOLS table along with their datatypes and length
%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

[('SCHOOL_ID', 'INTEGER', 4),
 ('NAME_OF_SCHOOL', 'VARCHAR', 64),
 ('Elementary, Middle, or High School', 'VARCHAR', 2),
 ('STREET_ADDRESS', 'VARCHAR', 30),
 ('CITY', 'VARCHAR', 7),
 ('STATE', 'VARCHAR', 2),
 ('ZIP_CODE', 'INTEGER', 4),
 ('PHONE_NUMBER', 'VARCHAR', 14),
 ('LINK', 'VARCHAR', 78),
 ('NETWORK_MANAGER', 'VARCHAR', 40),
 ('COLLABORATIVE_NAME', 'VARCHAR', 34),
 ('ADEQUATE_YEARLY_PROGRESS_MADE_', 'VARCHAR', 3),
 ('TRACK_SCHEDULE', 'VARCHAR', 8),
 ('CPS_PERFORMANCE_POLICY_STATUS', 'VARCHAR', 16),
 ('CPS_PERFORMANCE_POLICY_LEVEL', 'VARCHAR', 15),
 ('HEALTHY_SCHOOLS_CERTIFIED_', 'VARCHAR', 3),
 ('SAFETY_ICON', 'VARCHAR', 11),
 ('SAFETY_SCORE', 'SMALLINT', 2),
 ('FAMILY_INVOLVEMENT_ICON', 'VARCHAR', 11),
 ('FAMILY_INVOLVEMENT_SCORE', 'VARCHAR', 3),
 ('ENVIRONMENT_ICON', 'VARCHAR', 11),
 ('ENVIRONMENT_SCORE', 'SMALLINT', 2),
 ('INSTRUCTION_ICON', 'VARCHAR', 11),
 ('INSTRUCTION_SCORE', 'SMALLINT', 2),
 ('LEADERS_ICON', 'VARCHAR', 11),
 ('LEADERS_SCORE', 'VARCHAR', 3),
 ('TEACHERS_ICON', 'VARCHAR', 11),
 ('TEACHERS_SCORE', 'VARCHAR', 3),
 ('PARENT_ENGAGEMENT_ICON', 'VARCHAR', 7),
 ('PARENT_ENGAGEMENT_SCORE', 'VARCHAR', 3),
 ('PARENT_ENVIRONMENT_ICON', 'VARCHAR', 7),
 ('PARENT_ENVIRONMENT_SCORE', 'VARCHAR', 3),
 ('AVERAGE_STUDENT_ATTENDANCE', 'DECIMAL', 4),
 ('RATE_OF_MISCONDUCTS__PER_100_STUDENTS_', 'DECIMAL', 5),
 ('AVERAGE_TEACHER_ATTENDANCE', 'DECIMAL', 4),
 ('INDIVIDUALIZED_EDUCATION_PROGRAM_COMPLIANCE_RATE', 'DECIMAL', 5),
 ('PK_2_LITERACY__', 'VARCHAR', 4),
 ('PK_2_MATH__', 'VARCHAR', 4),
 ('GR3_5_GRADE_LEVEL_MATH__', 'VARCHAR', 4),
 ('GR3_5_GRADE_LEVEL_READ__', 'VARCHAR', 4),
 ('GR3_5_KEEP_PACE_READ__', 'VARCHAR', 4),
 ('GR3_5_KEEP_PACE_MATH__', 'VARCHAR', 4),
 ('GR6_8_GRADE_LEVEL_MATH__', 'VARCHAR', 4),
 ('GR6_8_GRADE_LEVEL_READ__', 'VARCHAR', 4),
 ('GR6_8_KEEP_PACE_MATH_', 'VARCHAR', 4),
 ('GR6_8_KEEP_PACE_READ__', 'VARCHAR', 4),
 ('GR_8_EXPLORE_MATH__', 'VARCHAR', 4),
 ('GR_8_EXPLORE_READ__', 'VARCHAR', 4),
 ('ISAT_EXCEEDING_MATH__', 'DECIMAL', 4),
 ('ISAT_EXCEEDING_READING__', 'DECIMAL', 4),
 ('ISAT_VALUE_ADD_MATH', 'DECIMAL', 3),
 ('ISAT_VALUE_ADD_READ', 'DECIMAL', 3),
 ('ISAT_VALUE_ADD_COLOR_MATH', 'VARCHAR', 6),
 ('ISAT_VALUE_ADD_COLOR_READ', 'VARCHAR', 6),
 ('STUDENTS_TAKING__ALGEBRA__', 'VARCHAR', 4),
 ('STUDENTS_PASSING__ALGEBRA__', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2009)', 'VARCHAR', 4),
 ('9th Grade EXPLORE (2010)', 'VARCHAR', 4),
 ('10th Grade PLAN (2009)', 'VARCHAR', 4),
 ('10th Grade PLAN (2010)', 'VARCHAR', 4),
 ('NET_CHANGE_EXPLORE_AND_PLAN', 'VARCHAR', 3),
 ('11th Grade Average ACT (2011)', 'VARCHAR', 4),
 ('NET_CHANGE_PLAN_AND_ACT', 'VARCHAR', 3),
 ('COLLEGE_ELIGIBILITY__', 'VARCHAR', 4),
 ('GRADUATION_RATE__', 'VARCHAR', 4),
 ('COLLEGE_ENROLLMENT_RATE__', 'VARCHAR', 4),
 ('COLLEGE_ENROLLMENT__NUMBER_OF_STUDENTS_', 'SMALLINT', 2),
 ('GENERAL_SERVICES_ROUTE', 'SMALLINT', 2),
 ('FRESHMAN_ON_TRACK_RATE__', 'VARCHAR', 4),
 ('RCDTS_CODE', 'BIGINT', 8),
 ('X_COORDINATE', 'DECIMAL', 13),
 ('Y_COORDINATE', 'DECIMAL', 13),
 ('LATITUDE', 'DECIMAL', 18),
 ('LONGITUDE', 'DECIMAL', 18),
 ('COMMUNITY_AREA_NUMBER', 'SMALLINT', 2),
 ('COMMUNITY_AREA_NAME', 'VARCHAR', 22),
 ('WARD', 'SMALLINT', 2),
 ('POLICE_DISTRICT', 'SMALLINT', 2),
 ('LOCATION', 'VARCHAR', 27)]

Double-click **here** for the solution.

<!-- Solution:

%sql select COLNAME, TYPENAME, LENGTH from SYSCAT.COLUMNS where TABNAME = 'SCHOOLS'

or

%sql select distinct(NAME), COLTYPE, LENGTH from SYSIBM.SYSCOLUMNS where TBNAME = 'SCHOOLS'

-->

### Questions

1.  Is the column name for the "SCHOOL ID" attribute in upper or mixed case?
2.  What is the name of "Community Area Name" column in your table? Does it have spaces?
3.  Are there any columns in whose names the spaces and paranthesis (round brackets) have been replaced by the underscore character "\_"?

## Problems

### Problem 1

##### How many Elementary Schools are in the dataset?

In [16]:
%sql select count(*) as ELEMENTARY_SCHOOL from SCHOOLS where "Elementary, Middle, or High School" = 'ES'

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

[(462,)]

Double-click **here** for a hint

<!--
Which column specifies the school type e.g. 'ES', 'MS', 'HS'? ("Elementary School, Middle School, High School")
-->

Double-click **here** for another hint

<!--
Does the column name have mixed case, spaces or other special characters?
If so, ensure you use double quotes around the "Name of the Column"
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select count(*) from SCHOOLS where "Elementary, Middle, or High School" = 'ES'

Correct answer: 462

-->

### Problem 2

##### What is the highest Safety Score?

In [15]:
%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from SCHOOLS

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

[(99,)]

Double-click **here** for a hint

<!--
Use the MAX() function
-->

Double-click **here** for the solution.

<!-- Hint:

%sql select MAX(Safety_Score) AS MAX_SAFETY_SCORE from SCHOOLS

Correct answer: 99
-->

### Problem 3

##### Which schools have highest Safety Score?

In [4]:
%sql select NAME_OF_SCHOOL from SCHOOLS where Safety_Score = (select MAX(Safety_Score) from SCHOOLS)

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

[('Abraham Lincoln Elementary School',),
 ('Northside College Preparatory High School',),
 ('Alexander Graham Bell Elementary School',),
 ('Oriole Park Elementary School',),
 ('Mary E Courtenay Elementary Language Arts Center',),
 ('Ellen Mitchell Elementary School',),
 ('Stephen Decatur Classical Elementary School',),
 ('James E McDade Elementary Classical School',),
 ('Norwood Park Elementary School',),
 ('Edgar Allan Poe Elementary Classical School',),
 ('Annie Keller Elementary Gifted Magnet School',),
 ('James G Blaine Elementary School',),
 ('Augustus H Burley Elementary School',),
 ('Talman Elementary School',),
 ('Edgebrook Elementary School',),
 ('Northside Learning Center High School',),
 ('LaSalle Elementary Language Academy',),
 ('Sauganash Elementary School',),
 ('Wildwood Elementary School',)]

Double-click **here** for the solution.

<!-- Solution:
In the previous problem we found out that the highest Safety Score is 99, so we can use that as an input in the where clause:

%sql select Name_of_School, Safety_Score from SCHOOLS where Safety_Score = 99

or, a better way:

%sql select Name_of_School, Safety_Score from SCHOOLS where \
  Safety_Score= (select MAX(Safety_Score) from SCHOOLS)


Correct answer: several schools with with Safety Score of 99.
-->

### Problem 4

##### What are the top 10 schools with the highest "Average Student Attendance"?

In [5]:
%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

[('John Charles Haines Elementary School', Decimal('98.4')),
 ('James Ward Elementary School', Decimal('97.8')),
 ('Rachel Carson Elementary School', Decimal('97.6')),
 ('Edgar Allan Poe Elementary Classical School', Decimal('97.6')),
 ('Orozco Fine Arts & Sciences Elementary School', Decimal('97.6')),
 ('Annie Keller Elementary Gifted Magnet School', Decimal('97.5')),
 ('Lenart Elementary Regional Gifted Center', Decimal('97.4')),
 ('Andrew Jackson Elementary Language Academy', Decimal('97.4')),
 ('Disney II Magnet School', Decimal('97.3')),
 ('John H Vanderpoel Elementary Magnet School', Decimal('97.2'))]

Double-click **here** for the solution.

<!-- Solution:

%sql select Name_of_School, Average_Student_Attendance from SCHOOLS \
    order by Average_Student_Attendance desc nulls last limit 10 

-->

### Problem 5

##### Retrieve the list of 5 Schools with the lowest Average Student Attendance sorted in ascending order based on attendance

In [6]:
%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

[('Richard T Crane Technical Preparatory High School', Decimal('57.9')),
 ('Barbara Vick Early Childhood & Family Center', Decimal('60.9')),
 ('Dyett High School', Decimal('62.5')),
 ('Wendell Phillips Academy High School', Decimal('63.0')),
 ('Orr Academy High School', Decimal('66.3'))]

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 6

##### Now remove the '%' sign from the above result set for Average Student Attendance column

In [7]:
%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

[('Richard T Crane Technical Preparatory High School', '57.9'),
 ('Barbara Vick Early Childhood & Family Center', '60.9'),
 ('Dyett High School', '62.5'),
 ('Wendell Phillips Academy High School', '63.0'),
 ('Orr Academy High School', '66.3')]

Double-click **here** for a hint

<!--
Use the REPLACE() function to replace '%' with ''
See documentation for this function at:
https://www.ibm.com/support/knowledgecenter/en/SSEPGG_10.5.0/com.ibm.db2.luw.sql.ref.doc/doc/r0000843.html
-->

Double-click **here** for the solution.

<!-- Hint:

%sql SELECT Name_of_School, REPLACE(Average_Student_Attendance, '%', '') \
     from SCHOOLS \
     order by Average_Student_Attendance \
     fetch first 5 rows only

-->

### Problem 7

##### Which Schools have Average Student Attendance lower than 70%?

In [8]:
%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

[('Richard T Crane Technical Preparatory High School', Decimal('57.9')),
 ('Barbara Vick Early Childhood & Family Center', Decimal('60.9')),
 ('Dyett High School', Decimal('62.5')),
 ('Wendell Phillips Academy High School', Decimal('63.0')),
 ('Orr Academy High School', Decimal('66.3')),
 ('Manley Career Academy High School', Decimal('66.8')),
 ('Chicago Vocational Career Academy High School', Decimal('68.8')),
 ('Roberto Clemente Community Academy High School', Decimal('69.6'))]

Double-click **here** for a hint

<!--
The datatype of the "Average_Student_Attendance" column is varchar.
So you cannot use it as is in the where clause for a numeric comparison.
First use the CAST() function to cast it as a DECIMAL or DOUBLE
e.g. CAST("Column_Name" as DOUBLE)
or simply: DECIMAL("Column_Name")
-->

Double-click **here** for another hint

<!--
Don't forget the '%' age sign needs to be removed before casting
-->

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where CAST ( REPLACE(Average_Student_Attendance, '%', '') AS DOUBLE ) < 70 \
     order by Average_Student_Attendance
     
or,

%sql SELECT Name_of_School, Average_Student_Attendance  \
     from SCHOOLS \
     where DECIMAL ( REPLACE(Average_Student_Attendance, '%', '') ) < 70 \
     order by Average_Student_Attendance

-->

### Problem 8

##### Get the total College Enrollment for each Community Area

In [24]:
%sql SELECT COLLEGE_ENROLLMENT_RATE__ from SCHOOLS
#%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
#   from SCHOOLS \
#   group by Community_Area_Name

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

[('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('82.4',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('51.9',),
 ('NDA',),
 ('90.7',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('60.4',),
 ('NDA',),
 ('65',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('78.5',),
 ('73.2',),
 ('NDA',),
 ('50',),
 ('45.1',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('48.1',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('58.5',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('61.3',),
 ('50.9',),
 ('NDA',),
 ('85.9',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('48.8',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('57.6',),
 ('45.2',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('78.5',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('69.3',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('74',),
 ('45.9',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('49.1',),
 ('40.9',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('51.5',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('47',),
 ('51.3',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('79.8',),
 ('NDA',),
 ('40.4',),
 ('NDA',),
 ('51',),
 ('NDA',),
 ('51.3',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('54',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('63.5',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('62.8',),
 ('NDA',),
 ('58.2',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('44',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('42.9',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('60.5',),
 ('NDA',),
 ('NDA',),
 ('42.6',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('63.3',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('46.4',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('40.3',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('42.2',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('40.3',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('54.4',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('62.2',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('75.5',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('41.3',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('51.9',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('32.6',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('79.7',),
 ('43.1',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('58',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('41.5',),
 ('NDA',),
 ('37',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('88.3',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('65.2',),
 ('85.1',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('86.9',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('64.2',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('54.9',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('39.5',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('36.7',),
 ('NDA',),
 ('57.4',),
 ('43.8',),
 ('NDA',),
 ('NDA',),
 ('31.3',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('51.3',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('55.7',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('87.9',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('64.2',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('52.4',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('52.1',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('52.9',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('35',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('79.6',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('57.4',),
 ('68.8',),
 ('NDA',),
 ('NDA',),
 ('NDA',),
 ('55.7',),
 ('NDA',)]

Double-click **here** for a hint

<!--
Verify the exact name of the Enrollment column in the database
Use the SUM() function to add up the Enrollments for each Community Area
-->

Double-click **here** for another hint

<!--
Don't forget to group by the Community Area
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name 

-->

### Problem 9

##### Get the 5 Community Areas with the least total College Enrollment  sorted in ascending order

In [25]:
%sql select Community_Area_Name, sum(COLLEGE_ENROLLMENT_RATE__) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   fetch first 5 rows only

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

DBAPIError: (ibm_db_dbi.Error) ibm_db_dbi::Error: [IBM][CLI Driver][DB2/LINUXX8664] SQL0420N  Invalid character found in a character string argument of the function "DECFLOAT".  SQLSTATE=22018 SQLCODE=-420
(Background on this error at: http://sqlalche.me/e/13/dbapi)

Double-click **here** for a hint

<!--
Order the previous query and limit the number of rows you fetch
-->

Double-click **here** for the solution.

<!-- Solution:

%sql select Community_Area_Name, sum(College_Enrollment) AS TOTAL_ENROLLMENT \
   from SCHOOLS \
   group by Community_Area_Name \
   order by TOTAL_ENROLLMENT asc \
   fetch first 5 rows only

-->

### Problem 10

##### List 5 schools with lowest safety score.

In [26]:
%sql SELECT name_of_school, safety_score \
FROM schools \
ORDER BY safety_score \
LIMIT 5

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
Done.

[('Edmond Burke Elementary School', 1),
 ("Luke O'Toole Elementary School", 5),
 ('George W Tilton Elementary School', 6),
 ('Foster Park Elementary School', 11),
 ('John Fiske Elementary School', 13)]

Double-click **here** for the solution.

<!-- Solution:

%sql SELECT name_of_school, safety_score \
FROM schools \
ORDER BY safety_score \
LIMIT 5
-->

### Problem 11

##### Get the hardship index for the community area which has College Enrollment of 4368

In [28]:
%%sql 
select hardship_index 
   from chicago_socioeconomic_data CD, schools CPS 
   where CD.ca = CPS.community_area_number 
      and cCOLLEGE_ENROLLMENT_RATE__ = 4368

 * ibm_db_sa://qzg02488:***@19af6446-6171-4641-8aba-9dcff8e1b6ff.c1ogj3sd0tgtu0lqde00.databases.appdomain.cloud:30699/bludb
(ibm_db_dbi.ProgrammingError) ibm_db_dbi::ProgrammingError: SQLNumResultCols failed: [IBM][CLI Driver][DB2/LINUXX8664] SQL0204N  "QZG02488.CHICAGO_SOCIOECONOMIC_DATA" is an undefined name.  SQLSTATE=42704 SQLCODE=-204
[SQL: select hardship_index
   from chicago_socioeconomic_data CD, schools CPS
   where CD.ca = CPS.community_area_number
      and cCOLLEGE_ENROLLMENT_RATE__ = 4368]
(Background on this error at: http://sqlalche.me/e/13/f405)

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%%sql 
select hardship_index 
   from chicago_socioeconomic_data CD, schools CPS 
   where CD.ca = CPS.community_area_number 
      and college_enrollment = 4368

-->

### Problem 12

##### Get the hardship index for the community area which has the school with the  highest enrollment.

Double-click **here** for the solution.

<!-- Solution:
NOTE: For this solution to work the CHICAGO_SOCIOECONOMIC_DATA table 
      as created in the last lab of Week 3 should already exist

%sql select ca, community_area_name, hardship_index from chicago_socioeconomic_data \
   where ca in \
   ( select community_area_number from schools order by college_enrollment desc limit 1 )

-->

## Summary

##### In this lab you learned how to work with a real word dataset using SQL and Python. You learned how to query columns with spaces or special characters in their names and with mixed case names. You also used built in database functions and practiced how to sort, limit, and order result sets, as well as used sub-queries and worked with multiple tables.

## Author

<a href="https://www.linkedin.com/in/ravahuja/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkDB0201ENSkillsNetwork20127838-2021-01-01" target="_blank">Rav Ahuja</a>

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                        |
| ----------------- | ------- | ----------------- | ----------------------------------------- |
| 2021-07-09        | 2.4     | Malika            | Updated connection string                 |
| 2021-05-19        | 2.3     | Lakshmi Holla     | Updated question                          |
| 2021-04-20        | 2.2     | Malika            | Added the libraries                       |
| 2020-11-27        | 2.1     | Sannareddy Ramesh | Modified data sets and added new problems |
| 2020-08-28        | 2.0     | Lavanya           | Moved lab to course repo in GitLab        |

<hr>

## <h3 align="center"> © IBM Corporation 2020. All rights reserved. <h3/>